<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="728e199d-9a41-4e4f-8699-dab7f0780c4c" Alias="profilePage" Level="1">
  <Info>
    <Name>Profile Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>ProfilePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019e53b8-abd2-73c2-bb91-76a81af953fb">ProfilePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>