<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="46354c75-a546-43ec-8d61-b5cd2d7de419" Alias="registerPage" Level="1">
  <Info>
    <Name>Register Page</Name>
    <Icon>icon-document-html</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>RegisterPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="019e31b3-f021-78b2-a3ff-b432cab061d3">RegisterPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>