<?xml version="1.0" encoding="utf-8"?>
<Content Key="1157a43f-ffff-441d-a51c-12a09fd2d772" Alias="GamePage" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GamePage</Path>
    <Trashed>false</Trashed>
    <ContentType>gamePage</ContentType>
    <CreateDate>2026-05-17T20:54:52</CreateDate>
    <NodeName Default="GamePage" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019e37b6-0366-7d6a-8bd2-35b30bec8a05">GamePage</Template>
  </Info>
  <Properties />
</Content>