<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7302ce0-3a88-4077-bbc5-00e37016254f" Alias="Leaderboard Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LeaderboardPage</Path>
    <Trashed>false</Trashed>
    <ContentType>leaderboardPage</ContentType>
    <CreateDate>2026-05-11T12:20:31</CreateDate>
    <NodeName Default="Leaderboard Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019e16fa-0d0a-7320-9036-201a8a94da2f">LeaderboardPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EPlayer High Scores\u003C/p\u003E"
}]]></Value>
    </description>
    <title>
      <Value><![CDATA[Global Leaderboards]]></Value>
    </title>
  </Properties>
</Content>