<?xml version="1.0" encoding="utf-8"?>
<Content Key="28003a97-65f6-438b-8bd9-947dff33082d" Alias="Login" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Login</Path>
    <Trashed>false</Trashed>
    <ContentType>loginPage</ContentType>
    <CreateDate>2026-05-16T14:57:16</CreateDate>
    <NodeName Default="Login" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019e3106-39c7-74b9-826f-09fbffe66c89">LoginPage</Template>
  </Info>
  <Properties />
</Content>