<?xml version="1.0" encoding="utf-8"?>
<Content Key="6cf847f7-658d-42fd-b78c-ac1196d84cd2" Alias="Profile" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Profile</Path>
    <Trashed>false</Trashed>
    <ContentType>profilePage</ContentType>
    <CreateDate>2026-05-23T07:26:32</CreateDate>
    <NodeName Default="Profile" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019e53b8-abd2-73c2-bb91-76a81af953fb">ProfilePage</Template>
  </Info>
  <Properties />
</Content>