<?xml version="1.0" encoding="utf-8"?>
<Content Key="b37e3de7-ed8d-4dfc-bfd0-08e1405de8ce" Alias="Register" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Register</Path>
    <Trashed>false</Trashed>
    <ContentType>registerPage</ContentType>
    <CreateDate>2026-05-16T16:55:45</CreateDate>
    <NodeName Default="Register" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="019e31b3-f021-78b2-a3ff-b432cab061d3">RegisterPage</Template>
  </Info>
  <Properties />
</Content>