<?xml version="1.0" encoding="utf-8"?>
<Content Key="1428b033-fec9-4500-ad4b-cb32a2152b03" Alias="Run - Sigurt - Encounters: 26" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunSigurtEncounters26</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-18T10:05:02</CreateDate>
    <NodeName Default="Run - Sigurt - Encounters: 26" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminComment>
      <Value><![CDATA[]]></Value>
    </adminComment>
    <aiReason>
      <Value><![CDATA[Ingen grænseværdier overtrådt. Skadefordeling og tidsaudit er inden for rimelige rammer.]]></Value>
    </aiReason>
    <aiScore>
      <Value><![CDATA[98]]></Value>
    </aiScore>
    <damageAbsorbed>
      <Value><![CDATA[42]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[26]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[22]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[70]]></Value>
    </highestSingleTurnDamage>
    <isAiRight>
      <Value><![CDATA[]]></Value>
    </isAiRight>
    <perfectFights>
      <Value><![CDATA[8]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[Sigurt]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-18T10:05:02]]></Value>
    </runDate>
    <sendToAiForImprovements>
      <Value><![CDATA[]]></Value>
    </sendToAiForImprovements>
    <timeSpentInBattle>
      <Value><![CDATA[327.1555]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[133]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>