<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2668766-3bc2-4f95-9da9-f0aa746553b0" Alias="Run - Fatboy - Encounters: 0" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunFatboyEncounters0</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-23T07:29:40</CreateDate>
    <NodeName Default="Run - Fatboy - Encounters: 0" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminComment>
      <Value><![CDATA[]]></Value>
    </adminComment>
    <aiReason>
      <Value><![CDATA[Mistral API Fejl TooManyRequests: {"object":"error","message":"Service tier capacity exceeded for this model.","type":"service_tier_capacity_exceeded","param":null,"code":"3505","raw_status_code":429}]]></Value>
    </aiReason>
    <aiScore>
      <Value><![CDATA[0]]></Value>
    </aiScore>
    <damageAbsorbed>
      <Value><![CDATA[0]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[0]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[0]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[18]]></Value>
    </highestSingleTurnDamage>
    <isAiRight>
      <Value><![CDATA[0]]></Value>
    </isAiRight>
    <perfectFights>
      <Value><![CDATA[0]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[Fatboy]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-23T07:29:40]]></Value>
    </runDate>
    <sendToAiForImprovements>
      <Value><![CDATA[0]]></Value>
    </sendToAiForImprovements>
    <timeSpentInBattle>
      <Value><![CDATA[4.434997]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[100]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>