<?xml version="1.0" encoding="utf-8"?>
<Content Key="72983714-dc49-4471-b1bf-29aea6596c6b" Alias="Run - DeathSpeedRUnner4.0 - Encounters: 2" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunDeathSpeedRUnner40Encounters2</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-18T10:30:33</CreateDate>
    <NodeName Default="Run - DeathSpeedRUnner4.0 - Encounters: 2" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminComment>
      <Value><![CDATA[Helt korrekt fanget, det var et hurtigt run  men alt dataen ser normal ud]]></Value>
    </adminComment>
    <aiReason>
      <Value><![CDATA[Alt inden for fundamentale regler og læringsdata. TotalDamage (103) under hard cap (189), MaxTurnDmg (18) inden for normalområde, og tid (18.25s) er acceptabelt for 2 encounters.]]></Value>
    </aiReason>
    <aiScore>
      <Value><![CDATA[98]]></Value>
    </aiScore>
    <damageAbsorbed>
      <Value><![CDATA[0]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[2]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[1]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[18]]></Value>
    </highestSingleTurnDamage>
    <isAiRight>
      <Value><![CDATA[1]]></Value>
    </isAiRight>
    <perfectFights>
      <Value><![CDATA[0]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[DeathSpeedRUnner4.0]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-18T10:30:32]]></Value>
    </runDate>
    <sendToAiForImprovements>
      <Value><![CDATA[1]]></Value>
    </sendToAiForImprovements>
    <timeSpentInBattle>
      <Value><![CDATA[18.25252]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[103]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>