<?xml version="1.0" encoding="utf-8"?>
<Content Key="e922aa5f-8fa2-468d-800b-38d5d7fbdb24" Alias="Run - DeathSpeedRUnner3.0 - Encounters: 2" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunDeathSpeedRUnner30Encounters2</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-18T10:27:39</CreateDate>
    <NodeName Default="Run - DeathSpeedRUnner3.0 - Encounters: 2" />
    <SortOrder>5</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminComment>
      <Value><![CDATA[]]></Value>
    </adminComment>
    <aiReason>
      <Value><![CDATA[Tids-Audit under 6 sekunder pr. kamp og ingen Perfect Fights, men ingen åbenlyse HP-hacks.]]></Value>
    </aiReason>
    <aiScore>
      <Value><![CDATA[1]]></Value>
    </aiScore>
    <damageAbsorbed>
      <Value><![CDATA[10]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[2]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[1]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[24]]></Value>
    </highestSingleTurnDamage>
    <isAiRight>
      <Value><![CDATA[]]></Value>
    </isAiRight>
    <perfectFights>
      <Value><![CDATA[0]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[DeathSpeedRUnner3.0]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-18T10:27:39]]></Value>
    </runDate>
    <sendToAiForImprovements>
      <Value><![CDATA[]]></Value>
    </sendToAiForImprovements>
    <timeSpentInBattle>
      <Value><![CDATA[15.98371]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[145]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>