<?xml version="1.0" encoding="utf-8"?>
<Content Key="078c0e88-afb0-4662-bb43-a809ca417945" Alias="Run - asda - Level 9" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunAsdaLevel9</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-11T13:40:17</CreateDate>
    <NodeName Default="Run - asda - Level 9" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <causeOfDeath>
      <Value><![CDATA[The Swarm]]></Value>
    </causeOfDeath>
    <finalLevel>
      <Value><![CDATA[9]]></Value>
    </finalLevel>
    <playerName>
      <Value><![CDATA[asda]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-11T13:40:17]]></Value>
    </runDate>
    <timeSurvived>
      <Value><![CDATA[63.55394]]></Value>
    </timeSurvived>
    <totalXP>
      <Value><![CDATA[267.3384]]></Value>
    </totalXP>
  </Properties>
</Content>