<?xml version="1.0" encoding="utf-8"?>
<Content Key="652913c3-e13d-4222-8241-413f8b7a763b" Alias="Run - GUest1123 - Encounters: 0" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunGUest1123Encounters0</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-18T10:19:51</CreateDate>
    <NodeName Default="Run - GUest1123 - Encounters: 0" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminComment>
      <Value><![CDATA[Dette er bare en spiller som prøver at dø hurtigt ikke tegn på snyd bare dårlig spiller]]></Value>
    </adminComment>
    <aiReason>
      <Value><![CDATA[Ingen kampe overlevet, men skade taget og tid spillet tyder på manipulation.]]></Value>
    </aiReason>
    <aiScore>
      <Value><![CDATA[0]]></Value>
    </aiScore>
    <damageAbsorbed>
      <Value><![CDATA[10]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[0]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[0]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[18]]></Value>
    </highestSingleTurnDamage>
    <isAiRight>
      <Value><![CDATA[0]]></Value>
    </isAiRight>
    <perfectFights>
      <Value><![CDATA[0]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[GUest1123]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-18T10:19:51]]></Value>
    </runDate>
    <sendToAiForImprovements>
      <Value><![CDATA[1]]></Value>
    </sendToAiForImprovements>
    <timeSpentInBattle>
      <Value><![CDATA[15.94973]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[100]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>