<?xml version="1.0" encoding="utf-8"?>
<Content Key="e83aec73-340c-4c55-83cf-4592ec80c725" Alias="Run - Fatboy - Encounters: 18" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunFatboyEncounters18</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-17T22:44:06</CreateDate>
    <NodeName Default="Run - Fatboy - Encounters: 18" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <damageAbsorbed>
      <Value><![CDATA[36]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[18]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[14]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[45]]></Value>
    </highestSingleTurnDamage>
    <perfectFights>
      <Value><![CDATA[6]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[Fatboy]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-17T22:44:06]]></Value>
    </runDate>
    <timeSpentInBattle>
      <Value><![CDATA[278.3094]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[113]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>