<?xml version="1.0" encoding="utf-8"?>
<Content Key="11fee2c1-d28b-4a84-8096-db3a0b561b47" Alias="Run - DeathSpeedRUnner - Encounters: 0" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunDeathSpeedRUnnerEncounters0</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-18T10:21:54</CreateDate>
    <NodeName Default="Run - DeathSpeedRUnner - Encounters: 0" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminComment>
      <Value><![CDATA[det er bare en spiller som prøver at dø hurtigt (dette er muligt at gøre ved bare at trykke endround) igen tegn på snyd]]></Value>
    </adminComment>
    <aiReason>
      <Value><![CDATA[Ingen kampe overlevet, men tid og skadeværdier er fysisk umulige for et menneske at opnå på så kort tid.]]></Value>
    </aiReason>
    <aiScore>
      <Value><![CDATA[1]]></Value>
    </aiScore>
    <damageAbsorbed>
      <Value><![CDATA[0]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[0]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[0]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[24]]></Value>
    </highestSingleTurnDamage>
    <isAiRight>
      <Value><![CDATA[0]]></Value>
    </isAiRight>
    <perfectFights>
      <Value><![CDATA[0]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[DeathSpeedRUnner]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-18T10:21:53]]></Value>
    </runDate>
    <sendToAiForImprovements>
      <Value><![CDATA[1]]></Value>
    </sendToAiForImprovements>
    <timeSpentInBattle>
      <Value><![CDATA[9.510066]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[100]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>