<?xml version="1.0" encoding="utf-8"?>
<Content Key="eefddb71-4fd9-4daa-a4c2-7455c59688fa" Alias="Run - test - Encounters: 22" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunTestEncounters22</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-17T21:12:53</CreateDate>
    <NodeName Default="Run - test - Encounters: 22" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <damageAbsorbed>
      <Value><![CDATA[75]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[22]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[18]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[45]]></Value>
    </highestSingleTurnDamage>
    <perfectFights>
      <Value><![CDATA[4]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[test]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-17T21:12:53]]></Value>
    </runDate>
    <timeSpentInBattle>
      <Value><![CDATA[398.2131]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[169]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>