<?xml version="1.0" encoding="utf-8"?>
<Content Key="43e904b4-e73b-4952-8bee-f57d9e62edd3" Alias="Run - DeathSpeedRUnner3.0 - Encounters: 2 (1)" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunDeathSpeedRUnner30Encounters21</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-18T10:27:41</CreateDate>
    <NodeName Default="Run - DeathSpeedRUnner3.0 - Encounters: 2 (1)" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminComment>
      <Value><![CDATA[Total Damage er ikke overstiget (145 < 189) max turn damage er på en tur så har intent at gøre med antallet af encounters]]></Value>
    </adminComment>
    <aiReason>
      <Value><![CDATA[TotalDamageTaken (145) overstiger hard cap (189) og MaxTurnDmg (24) er høj for antallet af encounters.]]></Value>
    </aiReason>
    <aiScore>
      <Value><![CDATA[0]]></Value>
    </aiScore>
    <damageAbsorbed>
      <Value><![CDATA[10]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[2]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[1]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[24]]></Value>
    </highestSingleTurnDamage>
    <isAiRight>
      <Value><![CDATA[0]]></Value>
    </isAiRight>
    <perfectFights>
      <Value><![CDATA[0]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[DeathSpeedRUnner3.0]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-18T10:27:36]]></Value>
    </runDate>
    <sendToAiForImprovements>
      <Value><![CDATA[1]]></Value>
    </sendToAiForImprovements>
    <timeSpentInBattle>
      <Value><![CDATA[15.98371]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[145]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>