<?xml version="1.0" encoding="utf-8"?>
<Content Key="1d4103dc-354b-4d53-a95e-a78c3d9ab30d" Alias="Run - Guest_1234 - Encounters: 2" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunGuest_1234Encounters2</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-16T12:03:23</CreateDate>
    <NodeName Default="Run - Guest_1234 - Encounters: 2" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <damageAbsorbed>
      <Value><![CDATA[14]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[2]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[2]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[12]]></Value>
    </highestSingleTurnDamage>
    <perfectFights>
      <Value><![CDATA[2]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[Guest_1234]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-16T12:03:23]]></Value>
    </runDate>
    <timeSpentInBattle>
      <Value><![CDATA[44.52744]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[108]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>