<?xml version="1.0" encoding="utf-8"?>
<Content Key="e3afbe51-111f-4918-8566-23ee241bce86" Alias="Run - DeathSpeedRUnner5.0 - Encounters: 0" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunDeathSpeedRUnner50Encounters0</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-18T10:38:45</CreateDate>
    <NodeName Default="Run - DeathSpeedRUnner5.0 - Encounters: 0" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminComment>
      <Value><![CDATA[]]></Value>
    </adminComment>
    <aiReason>
      <Value><![CDATA[Ingen tegn på manipulation. Hurtig død er legitimt.]]></Value>
    </aiReason>
    <aiScore>
      <Value><![CDATA[100]]></Value>
    </aiScore>
    <damageAbsorbed>
      <Value><![CDATA[8]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[0]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[0]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[18]]></Value>
    </highestSingleTurnDamage>
    <isAiRight>
      <Value><![CDATA[]]></Value>
    </isAiRight>
    <perfectFights>
      <Value><![CDATA[0]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[DeathSpeedRUnner5.0]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-18T10:38:44]]></Value>
    </runDate>
    <sendToAiForImprovements>
      <Value><![CDATA[]]></Value>
    </sendToAiForImprovements>
    <timeSpentInBattle>
      <Value><![CDATA[18.62948]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[113]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>