<?xml version="1.0" encoding="utf-8"?>
<Content Key="549aa5b0-01e9-49fe-8211-eebb1dffbf14" Alias="Run - Emil - Encounters: 28" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunEmilEncounters28</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-18T10:14:42</CreateDate>
    <NodeName Default="Run - Emil - Encounters: 28" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminComment>
      <Value><![CDATA[korrekt der er HP-manipulation men sæt ikke 0 som AI score men Istedet 1]]></Value>
    </adminComment>
    <aiReason>
      <Value><![CDATA[TotalDamageTaken (573) overskrider hard cap (189) og kombineres med 0 Perfect Fights, hvilket indikerer HP-manipulation.]]></Value>
    </aiReason>
    <aiScore>
      <Value><![CDATA[5]]></Value>
    </aiScore>
    <damageAbsorbed>
      <Value><![CDATA[160]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[28]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[24]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[51]]></Value>
    </highestSingleTurnDamage>
    <isAiRight>
      <Value><![CDATA[1]]></Value>
    </isAiRight>
    <perfectFights>
      <Value><![CDATA[0]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[Emil]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-18T10:14:41]]></Value>
    </runDate>
    <sendToAiForImprovements>
      <Value><![CDATA[1]]></Value>
    </sendToAiForImprovements>
    <timeSpentInBattle>
      <Value><![CDATA[407.742]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[573]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>