<?xml version="1.0" encoding="utf-8"?>
<Content Key="74601ce2-c1a3-4a3a-8dd0-3c79517575df" Alias="Run - DeathSpeedRUnner2.0 - Encounters: 0" Level="2">
  <Info>
    <Parent Key="d7302ce0-3a88-4077-bbc5-00e37016254f">Leaderboard Page</Parent>
    <Path>/LeaderboardPage/RunDeathSpeedRUnner20Encounters0</Path>
    <Trashed>false</Trashed>
    <ContentType>runRecord</ContentType>
    <CreateDate>2026-05-18T10:24:57</CreateDate>
    <NodeName Default="Run - DeathSpeedRUnner2.0 - Encounters: 0" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <adminComment>
      <Value><![CDATA[En hurtig død men ingen tegn på snyd, total damage er inden for normale og det hele ser godt ud bare en hurtig død det må man gerne]]></Value>
    </adminComment>
    <aiReason>
      <Value><![CDATA[Ingen kampe overlevet, men tid og skade tyder på hurtig død (ikke nødvendigvis snyd).]]></Value>
    </aiReason>
    <aiScore>
      <Value><![CDATA[1]]></Value>
    </aiScore>
    <damageAbsorbed>
      <Value><![CDATA[0]]></Value>
    </damageAbsorbed>
    <encountersSurvived>
      <Value><![CDATA[0]]></Value>
    </encountersSurvived>
    <enemiesKilled>
      <Value><![CDATA[0]]></Value>
    </enemiesKilled>
    <highestSingleTurnDamage>
      <Value><![CDATA[18]]></Value>
    </highestSingleTurnDamage>
    <isAiRight>
      <Value><![CDATA[0]]></Value>
    </isAiRight>
    <perfectFights>
      <Value><![CDATA[0]]></Value>
    </perfectFights>
    <playerName>
      <Value><![CDATA[DeathSpeedRUnner2.0]]></Value>
    </playerName>
    <runDate>
      <Value><![CDATA[2026-05-18T10:24:57]]></Value>
    </runDate>
    <sendToAiForImprovements>
      <Value><![CDATA[1]]></Value>
    </sendToAiForImprovements>
    <timeSpentInBattle>
      <Value><![CDATA[13.62984]]></Value>
    </timeSpentInBattle>
    <totalDamageTaken>
      <Value><![CDATA[110]]></Value>
    </totalDamageTaken>
  </Properties>
</Content>